@font-face {
    font-family: 'MomsTypewriter';
    src: url('font/Mom«t___.ttf') format('truetype');
}
body {
    margin: 0;
    background-color: #0b0b0b;
    font-family: 'MomsTypewriter', monospace;
    color: #e5e5e5;
}

/* CENTER */
.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* BOX */
.welcome-box {
    text-align: center;
    padding: 30px;
    border: 2px solid #8b0000;
    background-color: rgba(20, 0, 0, 0.6);
    box-shadow: 0 0 25px rgba(139,0,0,0.5);
    max-width: 500px;
}

/* IMAGE */
.welcome-img {
    width: 250px;
    height: 250px;
    border: 1px solid #8b0000;
    margin-bottom: 20px;
    filter: grayscale(40%) contrast(120%);
}

/* TITLE */
.welcome-title {
    font-family: 'MomsTypewriter', monospace;

    color: #ff1a1a;
    font-size: 40px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

/* TEXT */
.welcome-text {
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.6;
}